div.content-wrapper-login {
  display: 90vw;

  margin-top: 50px;
}

form.login-user {
  width: 90vw;
  background: #c2cff2;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

  border-radius: 20px;

  padding: 15px;
}

form.login-user fieldset {
  border: none;

  display: flex;
  flex-direction: column;
}

form.login-user fieldset legend {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
}

form.login-user div.input-block {
  display: flex;
  flex-direction: column;
}

form.login-user div.input-block + div.input-block {
  margin-top: 10px;
}

form.login-user div.input-block label {
  font-weight: 500;
  font-size: 18px;
}

form.login-user fieldset a:first-of-type {
  margin-top: 15px;
}

form.login-user fieldset a {
  font-weight: 500;
  font-size: 16px;
}

form.login-user fieldset a + a {
  margin-top: 5px;
}

@media (min-width: 1100px) {
  div.content-wrapper-login {
    margin-top: 20px;
  }
  form.login-user {
    width: 50vw;
  }
}
