.content-wrapper-posts {
  width: 90vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 40px;
}

.content-wrapper-posts .title-main {
  margin-bottom: 10px;
}

div.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

div.search select {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
  color: #596aff;
  background-color: #fff;
  border: none;
}

div.search img {
  width: 36px;
  margin-left: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background: #596aff;
  border-radius: 10px;
  padding: 0 5px;

  transition: all 0.2s;
}

div.search img:hover,
div.search img:active {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

div.post-preview {
  width: 80vw;
  text-align: justify;

  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background: #c2cff2;

  transition: all 0.2s;

  overflow: hidden;
}

div.post-preview:active,
div.post-preview:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transform: scale(1.01)
}

div.post-preview h1 {
  font-size: 23px;
}

/*
abaixo temos algumas propriedades para meio que 'cortar' o texto e deixá-lo menor na apresentação, primeiramente temos o

text-overflow: se refere ao texto que está 'saindo para fora' do conteudo, o ellipsis é a propriedade que faz com que o que está saindo pra fora seja 'escondido' e substituido por ...

white-space: relacionado a parte de espaços em branco da apresentação, o nowrap significa 'em vez de quebrar linhas e mostrar todo conteúdo' quero que você deixe tudo na mesma linha, e combinado o text-overflow com isso, ele coloca o ... e fica legal!

display: definimos o webkit-box para que seja possivel aplicar propriedades usando o webkit

-webkit-line-clamp: refere-se ao 'maximo de linhas' que será permitido, é da sua escolha, no site combinou melhor com 4;

-webkit-box-orient: isso é praticamente a mesma coisa que o flex-direction do display: flex, definimos como vertical;

 overflow: colocamos hidden no overflow para esconder os conteúdos que estão extrapolando o tamanho da tag;
*/
div.post-preview .subject-preview {
  padding: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-weight: 400;
}

div.post-preview .text-secundary {
  padding: initial;
  text-align: end;
  text-transform: capitalize;
  font-weight: 400;
}

div.post-preview a {
  text-decoration: none;
  color: #383838;
  text-shadow: none;
}

div.post-preview .text-secundary span {
  font-weight: 500;
}

@media (min-width: 1100px) {
  .content-wrapper-posts {
    margin-top: 20px;
  }
}
