div.content-wrapper-dashboard {
  width: 90vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;

  margin-top: 40px;
}

div.content-wrapper-dashboard p {
  font-size: 18px;
  margin: 5px 0;
}

div.content-wrapper-dashboard p span,
a {
  font-weight: 500;
  color: #596aff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

  transition: all 0.1s;
}

div.content-wrapper-dashboard p a:active {
  font-size: 20px;
  color: #4a56c2;
}

div.content-wrapper-dashboard .buttons {
  width: 100%;
  margin: 10px 0;

  display: flex;
  flex-direction: column;
}

form.update-user {
  width: 90vw;
  background: #c2cff2;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

  border-radius: 20px;

  padding: 15px;
}

form.update-user fieldset {
  border: none;

  display: flex;
  flex-direction: column;

  color: #383838;
}

form.update-user fieldset legend {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
}

form.update-user div.input-block {
  display: flex;
  flex-direction: column;
}

form.update-user div.input-block + div.input-block {
  margin-top: 10px;
}

form.update-user div.input-block label {
  font-weight: 500;
  font-size: 18px;
}

form.update-user div.input-block input {
  height: 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  color: #596aff;
}

@media (min-width: 1100px) {
  div.content-wrapper-dashboard {
    width: 50vw;

    margin-top: 20px;
  }

  form.update-user {
    width: 50vw;
  }
}

