div.content-wrapper-main {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

div.content-wrapper-main .img-rosto {
  width: 60%;
  border-radius: 20px;
  max-width: 250px;
}

div.content-wrapper-main .social-networks {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

div.content-wrapper-main .social-networks a {
  margin: 10px;
  transition: all 0.3s;
}

div.content-wrapper-main .social-networks img {
  width: 70%;
}

div.content-wrapper-main .social-networks a:hover {
  transform: translate3d(0, -3px, 0);
  opacity: 0.7;
}

div.content-wrapper-main .box-text h1 {
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
}

div.content-wrapper-main .box-text p {
  max-width: 320px;
  font-size: 19px;
}

div.content-wrapper-main .box-text .text-1 a {
  width: 50px;
  height: 50px;
  font-weight: 500;
  color: #596aff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

  transition: all 0.1s;
}

div.content-wrapper-main .box-text .text-1 a:active {
  font-size: 22px;
  color: #4a56c2;
}

div.content-wrapper-main .box-text .text-1 a:hover {
  color: #4a56c2;
}

@media (min-width: 1100px) {
  div.content-wrapper-main h1 {
    font-size: 28px;
  }

  div.content-wrapper-main .social-networks {
    display: flex;
    flex-direction: row;
  }

  div.content-wrapper-main .box-text {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 250px;
    margin-bottom: -100px;
  }
}
