* {
  margin: 0;
  padding: 0;
}

body {
  font: 400 18px Poppins;
  background: #e6eaf2;
  color: #383838;
}

div#content-main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}